<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./includes/head.ejs') %> 
<body>
     <!-- include navbar -->
    <%- include('./includes/navbar.ejs')%>
    <p>
        This page is about the status of the company you can check our sister website for more referral 
    </p>
</body>
</html>