<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./includes/head.ejs')  %> 
<body>
   <!-- include navbar -->
    <%- include('./includes/navbar.ejs')%>

    <h1>Welcome to my E-shop</h1>   

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus ullam ducimus non, tempore, id explicabo veniam eum dolorem a ipsam sint reiciendis soluta tempora magni mollitia amet voluptatibus, distinctio recusandae!
    </p>

</body>
</html>